/* sezione Jumbotron */

#jumbotron {
    display: flex;
    .standard_wrapper {
        display: flex;
        padding: $strong_padding 0;
    }
}

.left_jumbotron {
    width: 40%;
    .jumbotron_description {
        padding: $strong_padding 0;
        h1 {
            padding-bottom: $light_padding;
        }
    }
    .jumbotron_buttons {
        @include flex-ai-center;
        padding-bottom: $light_padding;
        span {
            padding: 10px;
        }
    }
}

.right_jumbotron {
    width: 60%;
    img {
        width: 100%;
    }
}


/* sezione Presentation*/

#presentation {
    background-color: $brand_primary;
    .before,
    .after {
        padding: $strong_padding 0;
        h3 {
            padding: 50px 0;
        }
    }
    .before {
        border-bottom: 1px solid black;
    }
    .first_row {
        @include flex-jc-spacebtw;
        div[class^='little_img'] {
            width: 25%;
            padding: 50px;
        }
        img {
            height: 40%;
        }
    }
    .second_row img {
        width: 300px;
    }
}